Source: ubuntu-minimal-meta
Priority: important
Section: metapackages
Maintainer: Dimitry Ishenko <dimitry.ishenko@gmail.com>
Build-Depends: debhelper-compat (= 12)
Standards-Version: 4.6.0
Rules-Requires-Root: no

Package: ubuntu-minimal-meta
Architecture: amd64 arm64 armhf
Depends: distro-info, ubuntu-minimal
Provides: dhcpcd-base, isc-dhcp-client, rsyslog
Conflicts: dhcpcd-base, isc-dhcp-client, rsyslog
Replaces: dhcpcd-base, isc-dhcp-client, rsyslog
Description: ubuntu-minimal-meta
 Ubuntu minimal meta-package
